body{
    margin:0;
    background:#0f172a;
    color:white;
    font-family:Arial,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    flex-direction:column;
    animation:fadeIn 1s;
}

h1{
    font-size:50px;
    animation:slideDown 1s;
}

p{
    font-size:22px;
    opacity:.8;
}

button{
    margin-top:30px;
    padding:15px 35px;
    border:none;
    border-radius:12px;
    background:#00c853;
    color:white;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.1);
    background:#00e676;
}

@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}

@keyframes slideDown{
    from{transform:translateY(-50px);opacity:0;}
    to{transform:translateY(0);opacity:1;}
}
