* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #0f0f0f;
    color: white;
    height: 100vh;
}

.app {
    display: flex;
    height: 100vh;
}


/* Левая часть */

.sidebar {
    width: 260px;
    background: #171717;
    padding: 20px;
    border-right: 1px solid #333;
}

.sidebar h2 {
    font-size: 25px;
}

.sidebar button {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    border: none;
    border-radius: 10px;
    color: white;
}

.history p {
    background: #222;
    padding: 10px;
    border-radius: 8px;
}


/* Правая часть */

.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
}


#chat {
    flex: 1;
    overflow-y: auto;
    padding: 30px;
}


.message {
    max-width: 700px;
    padding: 15px;
    margin: 15px auto;
    border-radius: 15px;
}


.ai {
    background: #1f2937;
}


.user {
    background: #2563eb;
    margin-left: auto;
}


/* Поле ввода */

.input-area {
    padding: 20px;
    display: flex;
    gap: 10px;
}


input {
    flex: 1;
    padding: 15px;
    border-radius: 15px;
    border: none;
    background: #222;
    color: white;
}


.input-area button {
    width: 60px;
    border-radius: 15px;
    background: #2563eb;
    color: white;
    border: none;
}
.app {
    display: flex !important;
}

.sidebar {
    display: block !important;
    width: 260px !important;
    background: #171717 !important;
}
